@import url('/home/xyphe/.config/hypr/colors/colors-waybar.css');

.bar1 {
  background-color: transparent;
}

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  margin-top: 3px;
  font-size: 14px;
}

tooltip {
  border-radius: 32px;
  background-color: @color0;
}

#network,
#pulseaudio,
#bluetooth,
#custom-notification,
#tray,
#backlight,
#custom-launcher,
#power-profiles-daemon {
  background-color: @color0;
  padding-left: 12px;
  padding-right: 18px;
  border-radius: 32px;
}

#custom-launcher {
  border-bottom: @color15 solid 3px;
  font-size: 24;
}

#backlight {
  border-bottom: 3px solid @color11
}

#power-profiles-daemon.balanced {
  border-bottom: lightblue solid 3px;
  transition: 0.2s
}

#power-profiles-daemon.performance {
  border-bottom: red solid 3px;
  transition: 0.2s
}

#power-profiles-daemon.power-saver {
  border-bottom: green solid 3px;
  transition: 0.2s
}

#tray menu {
  background-color: @color0;
}

#tray {
  border-bottom: 3px @color12 solid;
  padding-right: 12px;
  padding-left: 12px;
  min-width: 32px;
}

#custom-notification {
  padding: 0px 3px 0px 0px;
  border-bottom: 3px @color7 solid;
  min-width: 50px;
}

#network {
  border-bottom: 3px solid @color8
}

#pulseaudio {
  border-bottom: 3px solid @color10
}

#bluetooth {
  border-bottom: 3px solid @color9
}

#workspaces {
  background-color: @color0;
  margin: 0;
  border-radius: 32px;
  border-bottom: 3px solid @color13;
  padding: 3px 10px 8px 10px;
  min-width: 390px;
}

#workspaces button {
  background-color: transparent;
  color: transparent;
  margin: 8px 5px 5px 5px;
  border-radius: 50px;
  padding: 0px 15px 0 15px;
  font-size: 0px;
  min-height: 2px;
  border: 3px solid @color15;
  transition: 0.2s;
}

#workspaces button.active {
  padding: 0px 23px 0px 23px;
  margin: 8px 5px 5px 5px;
  background-color: @color5;
  border: 3px solid @color7;
}

#workspaces button:hover {
  background-color: @color5;
  color: @color5;
  border-style: solid;
  border-color: @color7;
}

#workspaces button.urgent {
  color: @color0;
  background-color: @color0;
}

#clock {
  background-color: @color0;
  border-radius: 32px;
  padding-right: 12px;
  padding-left: 12px;
  border-bottom: 3px solid @color14;
}
