@import url('/home/xyphe/.config/hypr/colors/colors-waybar.css');

.bar1 {
  background-color: transparent;
}

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  margin-top: 3px;
  font-size: 14px;
}

tooltip {
  border-radius: 32px;
  background-color: @color0;
}

#network,
#pulseaudio,
#bluetooth,
#custom-notification,
#tray,
#backlight,
#custom-launcher,
#power-profiles-daemon {
  background-color: @color0;
  padding-left: 12px;
  padding-right: 18px;
  border-radius: 32px;
}

#custom-launcher {
  border-bottom: @color15 solid 3px;
  font-size: 24;
  min-width: 30px;
  border-radius: 128px
}

#backlight {
  border-bottom: 3px solid @color11;
  min-width: 50px
}

#power-profiles-daemon {
  min-width: 128px
}

#power-profiles-daemon.balanced {
  border-bottom: deepskyblue solid 3px;
  transition: 0.2s
}

#power-profiles-daemon.performance {
  border-bottom: red solid 3px;
  transition: 0.2s
}

#power-profiles-daemon.power-saver {
  border-bottom: lawngreen solid 3px;
  transition: 0.2s
}

#tray menu {
  background-color: @color0;
}

#tray {
  opacity: 0;
  border-bottom: 3px @color12 solid;
  padding-right: 12px;
  padding-left: 12px;
  min-width: 32px;
  transition: 5ms
}

#tray:hover,
#tray *:hover,
#tray>menu>menuitem {
  opacity: 1;
  transition: 100ms;
}

#custom-notification {
  padding: 0px 3px 0px 0px;
  border-bottom: 3px @color7 solid;
  min-width: 60px;
}

#network {
  border-bottom: 3px solid @color8
}

#pulseaudio {
  border-bottom: 3px solid @color10;
  min-width: 50px
}

#bluetooth {
  border-bottom: 3px solid @color9
}

#workspaces {
  background-color: transparent;
  margin: 0;
  border-radius: 32px;
  padding: 8px 0px 8px 0px;
}

#workspaces button {
  background-color: @color0;
  color: transparent;
  margin: 8px 5px 5px 5px;
  border-radius: 64px;
  padding: 5px 12px 5px 12px;
  font-size: 0px;
  border: solid 3px @color6;
  transition: 0.3s;
}

#workspaces button.active {
  padding: 5px 12px 5px 12px;
  border-radius: 12px;
  margin: 8px 5px 5px 5px;
  background-color: @color6;
  transition: 0.3s;
  border: solid 3px @color0
}

#workspaces button:hover {
  background-color: @color6;
  color: @color5;
  border-color: @color0;
  border-radius: 12px
}

#workspaces button.urgent {
  color: @color0;
  background-color: @color0;
}

#clock {
  background-color: @color0;
  border-radius: 32px;
  padding-right: 12px;
  padding-left: 12px;
  border-bottom: 3px solid @color14;
  min-width: 100px
}
