@define-color theme_fg_color {foreground};
@define-color theme_bg_color {background};
@define-color theme_base_color {background};
@define-color theme_text_color {foreground};

@define-color theme_selected_bg_color {color2};
@define-color theme_selected_fg_color {foreground};

@define-color tooltip_bg_color {background};
@define-color tooltip_fg_color {foreground};

@define-color placeholder_text_color {color8};

@define-color link_color {color4};
@define-color link_visited_color {color5};

@define-color warning_color {color3};
@define-color error_color {color1};
@define-color success_color {color2};
