@define-color theme_fg_color #c3c5c7;
@define-color theme_bg_color #12171f;
@define-color theme_base_color #12171f;
@define-color theme_text_color #c3c5c7;

@define-color theme_selected_bg_color #7496AC;
@define-color theme_selected_fg_color #c3c5c7;

@define-color tooltip_bg_color #12171f;
@define-color tooltip_fg_color #c3c5c7;

@define-color placeholder_text_color #5e6772;

@define-color link_color #8DA2B4;
@define-color link_visited_color #9AB5C7;

@define-color warning_color #7CA8C2;
@define-color error_color #6E91AF;
@define-color success_color #7496AC;
