#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#12171f",
    floating_border_color: "#B4C7D5",
    focused_border_color: "#c3c5c7",
    background_color: "#12171f",
)