@define-color foreground #c6c6c8;
@define-color background #1b1e25;
@define-color cursor #c6c6c8;

@define-color color0 #1b1e25;
@define-color color1 #D08971;
@define-color color2 #5B769A;
@define-color color3 #967789;
@define-color color4 #5E81AB;
@define-color color5 #6C8BAD;
@define-color color6 #7CA2C2;
@define-color color7 #c6c6c8;
@define-color color8 #626878;
@define-color color9 #D08971;
@define-color color10 #5B769A;
@define-color color11 #967789;
@define-color color12 #5E81AB;
@define-color color13 #6C8BAD;
@define-color color14 #7CA2C2;
@define-color color15 #c6c6c8;
