@define-color foreground #c5c6c8;
@define-color background #191c24;
@define-color cursor #c5c6c8;

@define-color color0 #191c24;
@define-color color1 #3E5A81;
@define-color color2 #5B7192;
@define-color color3 #6C8DAE;
@define-color color4 #7AABC4;
@define-color color5 #B08482;
@define-color color6 #9B96AC;
@define-color color7 #c5c6c8;
@define-color color8 #616777;
@define-color color9 #3E5A81;
@define-color color10 #5B7192;
@define-color color11 #6C8DAE;
@define-color color12 #7AABC4;
@define-color color13 #B08482;
@define-color color14 #9B96AC;
@define-color color15 #c5c6c8;
