/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #191c24 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c6c8; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c6c8; background-color: rgba(155,150,172,0.4)}
.cm-s-nqqwal { background-color: #191c24; color: #c5c6c8; }
.cm-s-nqqwal span.cm-builtin { color: #5B7192; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #616777; }
.cm-s-nqqwal span.cm-keyword { color: #6C8DAE; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #7AABC4; }
.cm-s-nqqwal span.cm-def { color: #B08482; }
.cm-s-nqqwal span.cm-variable { color: #9B96AC; }
.cm-s-nqqwal span.cm-variable-2 { color: #B08482; }
.cm-s-nqqwal span.cm-string { color: #5B7192; }
.cm-s-nqqwal span.cm-string-2 { color: #5B7192; }
.cm-s-nqqwal span.cm-number { color: #B08482; }
.cm-s-nqqwal span.cm-tag { color: #6C8DAE; }
.cm-s-nqqwal span.cm-property { color: #9B96AC; }
.cm-s-nqqwal span.cm-attribute { color: #9B96AC; }
.cm-s-nqqwal span.cm-qualifier { color: #7AABC4; }
.cm-s-nqqwal span.cm-meta { color: #B08482; }
.cm-s-nqqwal span.cm-header { color: #6C8DAE; }
.cm-s-nqqwal span.cm-operator { color: #6C8DAE; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(176,132,130,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #6C8DAE; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #191c24); }
