@define-color theme_fg_color #c5c6c7;
@define-color theme_bg_color #181b22;
@define-color theme_base_color #181b22;
@define-color theme_text_color #c5c6c7;

@define-color theme_selected_bg_color #537E82;
@define-color theme_selected_fg_color #c5c6c7;

@define-color tooltip_bg_color #181b22;
@define-color tooltip_fg_color #c5c6c7;

@define-color placeholder_text_color #606676;

@define-color link_color #7D8288;
@define-color link_visited_color #85898E;

@define-color warning_color #767D83;
@define-color error_color #68787E;
@define-color success_color #537E82;
