/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #1b1e25 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c6c6c8; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c6c6c8; background-color: rgba(124,162,194,0.4)}
.cm-s-nqqwal { background-color: #1b1e25; color: #c6c6c8; }
.cm-s-nqqwal span.cm-builtin { color: #5B769A; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #626878; }
.cm-s-nqqwal span.cm-keyword { color: #967789; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #5E81AB; }
.cm-s-nqqwal span.cm-def { color: #6C8BAD; }
.cm-s-nqqwal span.cm-variable { color: #7CA2C2; }
.cm-s-nqqwal span.cm-variable-2 { color: #6C8BAD; }
.cm-s-nqqwal span.cm-string { color: #5B769A; }
.cm-s-nqqwal span.cm-string-2 { color: #5B769A; }
.cm-s-nqqwal span.cm-number { color: #6C8BAD; }
.cm-s-nqqwal span.cm-tag { color: #967789; }
.cm-s-nqqwal span.cm-property { color: #7CA2C2; }
.cm-s-nqqwal span.cm-attribute { color: #7CA2C2; }
.cm-s-nqqwal span.cm-qualifier { color: #5E81AB; }
.cm-s-nqqwal span.cm-meta { color: #6C8BAD; }
.cm-s-nqqwal span.cm-header { color: #967789; }
.cm-s-nqqwal span.cm-operator { color: #967789; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(108,139,173,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #967789; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #1b1e25); }
