@define-color theme_fg_color #c5c6c8;
@define-color theme_bg_color #191c24;
@define-color theme_base_color #191c24;
@define-color theme_text_color #c5c6c8;

@define-color theme_selected_bg_color #5B7192;
@define-color theme_selected_fg_color #c5c6c8;

@define-color tooltip_bg_color #191c24;
@define-color tooltip_fg_color #c5c6c8;

@define-color placeholder_text_color #616777;

@define-color link_color #7AABC4;
@define-color link_visited_color #B08482;

@define-color warning_color #6C8DAE;
@define-color error_color #3E5A81;
@define-color success_color #5B7192;
