@define-color foreground #c6c6c8;
@define-color background #1b1e25;
@define-color cursor #c6c6c8;

@define-color color0 #1b1e25;
@define-color color1 #738C90;
@define-color color2 #7DA2A4;
@define-color color3 #96A5A8;
@define-color color4 #8FBBBA;
@define-color color5 #95C0BF;
@define-color color6 #A8BFC0;
@define-color color7 #c6c6c8;
@define-color color8 #626878;
@define-color color9 #738C90;
@define-color color10 #7DA2A4;
@define-color color11 #96A5A8;
@define-color color12 #8FBBBA;
@define-color color13 #95C0BF;
@define-color color14 #A8BFC0;
@define-color color15 #c6c6c8;
