/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #12171f !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c5c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c5c7; background-color: rgba(180,199,213,0.4)}
.cm-s-nqqwal { background-color: #12171f; color: #c3c5c7; }
.cm-s-nqqwal span.cm-builtin { color: #7496AC; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #5e6772; }
.cm-s-nqqwal span.cm-keyword { color: #7CA8C2; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #8DA2B4; }
.cm-s-nqqwal span.cm-def { color: #9AB5C7; }
.cm-s-nqqwal span.cm-variable { color: #B4C7D5; }
.cm-s-nqqwal span.cm-variable-2 { color: #9AB5C7; }
.cm-s-nqqwal span.cm-string { color: #7496AC; }
.cm-s-nqqwal span.cm-string-2 { color: #7496AC; }
.cm-s-nqqwal span.cm-number { color: #9AB5C7; }
.cm-s-nqqwal span.cm-tag { color: #7CA8C2; }
.cm-s-nqqwal span.cm-property { color: #B4C7D5; }
.cm-s-nqqwal span.cm-attribute { color: #B4C7D5; }
.cm-s-nqqwal span.cm-qualifier { color: #8DA2B4; }
.cm-s-nqqwal span.cm-meta { color: #9AB5C7; }
.cm-s-nqqwal span.cm-header { color: #7CA8C2; }
.cm-s-nqqwal span.cm-operator { color: #7CA8C2; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(154,181,199,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #7CA8C2; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #12171f); }
