@define-color foreground #c6c6c8;
@define-color background #1b1e25;
@define-color cursor #c6c6c8;

@define-color color0 #1b1e25;
@define-color color1 #658185;
@define-color color2 #688589;
@define-color color3 #6E8E91;
@define-color color4 #6F8E91;
@define-color color5 #7B9FA0;
@define-color color6 #7DA2A4;
@define-color color7 #c6c6c8;
@define-color color8 #626878;
@define-color color9 #658185;
@define-color color10 #688589;
@define-color color11 #6E8E91;
@define-color color12 #6F8E91;
@define-color color13 #7B9FA0;
@define-color color14 #7DA2A4;
@define-color color15 #c6c6c8;
