@define-color foreground #c5c6c7;
@define-color background #181b22;
@define-color cursor #c5c6c7;

@define-color color0 #181b22;
@define-color color1 #68787E;
@define-color color2 #537E82;
@define-color color3 #767D83;
@define-color color4 #7D8288;
@define-color color5 #85898E;
@define-color color6 #9A9EA2;
@define-color color7 #c5c6c7;
@define-color color8 #606676;
@define-color color9 #68787E;
@define-color color10 #537E82;
@define-color color11 #767D83;
@define-color color12 #7D8288;
@define-color color13 #85898E;
@define-color color14 #9A9EA2;
@define-color color15 #c5c6c7;
