/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #181b22 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c6c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c6c7; background-color: rgba(154,158,162,0.4)}
.cm-s-nqqwal { background-color: #181b22; color: #c5c6c7; }
.cm-s-nqqwal span.cm-builtin { color: #537E82; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #606676; }
.cm-s-nqqwal span.cm-keyword { color: #767D83; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #7D8288; }
.cm-s-nqqwal span.cm-def { color: #85898E; }
.cm-s-nqqwal span.cm-variable { color: #9A9EA2; }
.cm-s-nqqwal span.cm-variable-2 { color: #85898E; }
.cm-s-nqqwal span.cm-string { color: #537E82; }
.cm-s-nqqwal span.cm-string-2 { color: #537E82; }
.cm-s-nqqwal span.cm-number { color: #85898E; }
.cm-s-nqqwal span.cm-tag { color: #767D83; }
.cm-s-nqqwal span.cm-property { color: #9A9EA2; }
.cm-s-nqqwal span.cm-attribute { color: #9A9EA2; }
.cm-s-nqqwal span.cm-qualifier { color: #7D8288; }
.cm-s-nqqwal span.cm-meta { color: #85898E; }
.cm-s-nqqwal span.cm-header { color: #767D83; }
.cm-s-nqqwal span.cm-operator { color: #767D83; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(133,137,142,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #767D83; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #181b22); }
