#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#181b22",
    floating_border_color: "#9A9EA2",
    focused_border_color: "#c5c6c7",
    background_color: "#181b22",
)