@define-color foreground #c3c5c7;
@define-color background #12171f;
@define-color cursor #c3c5c7;

@define-color color0 #12171f;
@define-color color1 #6E91AF;
@define-color color2 #7496AC;
@define-color color3 #7CA8C2;
@define-color color4 #8DA2B4;
@define-color color5 #9AB5C7;
@define-color color6 #B4C7D5;
@define-color color7 #c3c5c7;
@define-color color8 #5e6772;
@define-color color9 #6E91AF;
@define-color color10 #7496AC;
@define-color color11 #7CA8C2;
@define-color color12 #8DA2B4;
@define-color color13 #9AB5C7;
@define-color color14 #B4C7D5;
@define-color color15 #c3c5c7;
